<div style="height: 100px;"></div>
<div class="d-flex flex-column align-items-center container" *ngIf="!this.selectedGuild">
    <div class="d-flex flex-row conditional-fc align-items-baseline w-100">
        <div class="flex-grow-1"></div>
        <div class="mat-display-1 font-weight-bold">
            {{ 'GuildDialog.AddAGuild' | translate }}
        </div>
        <div class="flex-grow-1"></div>
        <mat-form-field class="example-form-field">
            <mat-label>{{ 'GuildDialog.SearchAGuild' | translate }}</mat-label>
            <input matInput type="text" [(ngModel)]="searchGuilds" (ngModelChange)="onSearch()">
            <button mat-button *ngIf="searchGuilds" matSuffix mat-icon-button aria-label="Clear" (click)="resetSearch()">
            <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <mat-spinner *ngIf="this.guilds?.loading"></mat-spinner>
    <div class="row w-100" *ngIf="!this.guilds?.loading">
        <div class="col-sm-2 d-flex flex-column align-items-center p-4 crs-ptr" *ngFor="let guild of showGuilds" (click)="selectGuild(guild.id)">
            <app-guild-icon [guild]="guild" [width]="'128px'" [height]="'128px'"></app-guild-icon>
            <div class="mat-h3 mb-0 font-weight-bold">{{ guild.name }}</div>
            <div class="mat-small">({{ guild.id }})</div>
        </div>
    </div>
</div>

<div class="d-flex flex-column align-items-center container" *ngIf="this.selectedGuild" >
    <div class="d-flex flex-row conditional-fc justify-content-center align-self-center">

        <div class="d-flex flex-column align-items-center p-4">
            <app-guild-icon [guild]="selectedGuild" [width]="'128px'" [height]="'128px'"></app-guild-icon>
            <div class="mat-h3 mb-0 font-weight-bold">{{ selectedGuild.name }}</div>
            <div class="mat-small">({{ selectedGuild.id }})</div>
        </div>

        <div class="d-flex flex-column justify-content-center align-items-center p-4">
            <button mat-raised-button color="primary" class="mb-2" (click)="unselectGuild()">{{ 'GuildDialog.SelectAnotherGuild' | translate }}</button>
            <mat-spinner *ngIf="this.selectedGuildDetails?.loading"></mat-spinner>
            <mat-card *ngIf="!this.selectedGuildDetails?.loading && !this.selectedGuildDetails?.content">
                <mat-card-content>{{ 'GuildDialog.InviteFirst' | translate }}</mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary" (click)="invite()">{{ 'GuildDialog.Invite' | translate }}</button>
                </mat-card-actions>
            </mat-card>
            <mat-vertical-stepper [linear]="true" #stepper color="accent" *ngIf="!this.selectedGuildDetails?.loading && this.selectedGuildDetails?.content">
                <mat-step [stepControl]="adminRolesGroup">
                    <form [formGroup]="adminRolesGroup">
                        <ng-template matStepLabel>{{ 'GuildDialog.StepAdminRoles' | translate }}</ng-template>
                        <mat-form-field appearance="fill">
                            <mat-label>{{ 'GuildDialog.AdminRoles' | translate }}</mat-label>
                            <mat-select formControlName="adminRoles" multiple>
                            <mat-option *ngFor="let role of selectedGuildDetails.content?.roles"
                            [value]="role.id" [style.color]="generateRoleColor(role)">{{role.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="stepper-actions">
                            <button mat-raised-button matStepperNext color="accent">{{ 'GuildDialog.Next' | translate }}</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="modRolesGroup">
                    <form [formGroup]="modRolesGroup">
                        <ng-template matStepLabel>{{ 'GuildDialog.StepModeratorRoles' | translate }}</ng-template>
                        <mat-form-field appearance="fill">
                            <mat-label>{{ 'GuildDialog.ModeratorRoles' | translate }}</mat-label>
                            <mat-select formControlName="modRoles" multiple>
                                <mat-option *ngFor="let role of selectedGuildDetails.content?.roles"
                                [value]="role.id" [style.color]="generateRoleColor(role)">{{role.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="stepper-actions">
                            <button mat-raised-button matStepperPrevious class="mr-2" color="accent">{{ 'GuildDialog.Back' | translate }}</button>
                            <button mat-raised-button matStepperNext color="accent">{{ 'GuildDialog.Next' | translate }}</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="muteRolesGroup" [optional]='true'>
                    <form [formGroup]="muteRolesGroup">
                        <ng-template matStepLabel>{{ 'GuildDialog.StepMutedRoles' | translate }}</ng-template>
                        <mat-form-field appearance="fill">
                            <mat-label>{{ 'GuildDialog.MutedRoles' | translate }}</mat-label>
                            <mat-select formControlName="muteRoles" multiple>
                                <mat-option *ngFor="let role of selectedGuildDetails.content?.roles"
                                [value]="role.id" [style.color]="generateRoleColor(role)">{{role.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="stepper-actions">
                            <button mat-raised-button matStepperPrevious class="mr-2" color="accent">{{ 'GuildDialog.Back' | translate }}</button>
                            <button mat-raised-button matStepperNext color="accent">{{ 'GuildDialog.Next' | translate }}</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step [stepControl]="configGroup" [optional]='true'>
                    <form [formGroup]="configGroup">
                        <ng-template matStepLabel>{{ 'GuildDialog.StepFurtherConfiguration' | translate }}</ng-template>
                        <mat-form-field class="w-100">
                            <mat-label>{{ 'GuildDialog.InternalStaffWebhook' | translate }}</mat-label>
                            <input type="email" matInput formControlName="internal" placeholder="https://discord.com/...">
                        </mat-form-field>
                        <mat-form-field class="w-100">
                            <mat-label>{{ 'GuildDialog.PublicWebhook' | translate }}</mat-label>
                            <input type="email" matInput formControlName="public" placeholder="https://discord.com/...">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>{{ 'GuildDialog.Language' | translate }}</mat-label>
                            <mat-select formControlName="preferredLanguage">
                                <mat-option *ngFor="let language of allLanguages"
                                [value]="language.key">{{ language.value }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <div class="d-flex flex-row">
                            <mat-checkbox
                                class="mr-2"
                                formControlName="strictPermissionCheck"
                                [labelPosition]="'after'">
                                {{ 'GuildDialog.StrictPermissionCheckbox' | translate }}
                            </mat-checkbox>
                            <mat-icon matTooltip="{{ 'GuildDialog.StrictPermissionDetails' | translate }}">
                                help_outline
                            </mat-icon>
                        </div>
                        <div class="d-flex flex-row">
                            <mat-checkbox
                                class="mr-2"
                                formControlName="executeWhoisOnJoin"
                                [labelPosition]="'after'">
                                {{ 'GuildDialog.ExecuteWhois' | translate }}
                            </mat-checkbox>
                            <mat-icon matTooltip="{{ 'GuildDialog.WhoisDetails' | translate }}">
                                help_outline
                            </mat-icon>
                        </div>
                        <div class="d-flex flex-row">
                            <mat-checkbox
                                class="mr-2"
                                formControlName="publishModeratorInfo"
                                [labelPosition]="'after'">
                                {{ 'GuildDialog.PublishModerator' | translate }}
                            </mat-checkbox>
                            <mat-icon matTooltip="{{ 'GuildDialog.PublishModeratorDetails' | translate }}">
                                help_outline
                            </mat-icon>
                        </div>
                        <div class="stepper-actions">
                            <button mat-raised-button matStepperPrevious class="mr-2" color="accent">{{ 'GuildDialog.Back' | translate }}</button>
                            <button mat-raised-button matStepperNext color="accent">{{ 'GuildDialog.Next' | translate }}</button>
                        </div>
                    </form>
                </mat-step>
                <mat-step>
                    <form [formGroup]="queryGroup">
                        <ng-template matStepLabel>{{ 'GuildDialog.Done' | translate }}</ng-template>
                        <div class="d-flex flex-row">
                            <mat-checkbox
                                class="mr-2"
                                formControlName="importExistingBans"
                                [labelPosition]="'after'">
                                {{ 'GuildDialog.ImportExistingBans' | translate }}
                            </mat-checkbox>
                            <mat-icon matTooltip="{{ 'GuildDialog.ImportExistingBansDetails' | translate }}">
                                help_outline
                            </mat-icon>
                        </div>
                    </form>
                    <div class="d-flex flex-row mt-2 stepper-actions">
                        <button mat-raised-button matStepperPrevious class="mr-2" color="accent">{{ 'GuildDialog.Back' | translate }}</button>
                        <button mat-raised-button (click)="registerGuild()" color="accent">{{ 'GuildDialog.RegisterGuild' | translate }}</button>
                    </div>
                </mat-step>
            </mat-vertical-stepper>
        </div>
    </div>
</div>