
<div style="height: 50px;" class="dp-on-big-screen"></div>
<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex flex-column justify-content-center align-items-left cw-75-100">
        <div class="d-flex flex-column p-4 mt-2">
            <div class="d-flex flex-row conditional-fc justify-content-between">
                <div class="d-flex flex-row flex-grow-1 font-weight-bold align-items-center" *ngIf="!this.modCase.loading">
                    <div class="crs-ptr" style="font-size: 56px;" routerLink="/guilds/{{ this.guildId }}">
                        <mat-icon [inline]="true">arrow_back_ios</mat-icon>
                    </div>
                    <span class="mat-display-3 mb-2" style="word-break: break-all;" title="The case title">
                        <span class="text-black-50" title="The case id">
                            #{{ this.modCase.content?.modCase?.caseId }}
                       </span>
                       {{ this.modCase.content?.modCase?.title }}
                    </span>
                </div>
                <div *ngIf="this.modCase.loading" class="d-flex flex-column flex-grow-1 font-weight-bold align-items-start">
                    <div class="waiting-for-text mb-2" style="width: 10rem"></div>
                    <div class="waiting-for-text" style="width: 8rem"></div>
                </div>

                <!-- Delete / Edit button information -->
                <div class="d-flex flex-row flex-wrap ml-2 flex-shrink-0" *ngIf="this.isModOrHigher">
                    <button mat-fab color="accent" aria-label="edit case" [disabled]="this.modCase.content?.modCase?.markedToDeleteAt != undefined"
                        class="flex-grow-0 flex-shrink-0 mb-2 mr-2" routerLink="/guilds/{{ this.guildId }}/cases/{{ this.caseId }}/edit">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-fab color="primary" aria-label="delete case"
                        class="flex-grow-0 flex-shrink-0" (click)="deleteCase()" *ngIf="this.modCase.content?.modCase?.markedToDeleteAt == undefined">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>

            <mat-card class="d-flex flex-column primary-bg-color mt-3" *ngIf="this.modCase.content?.modCase?.markedToDeleteAt">
                <span class="mat-display-1 mb-0 font-weight-bold">
                    <img *ngIf="this.modCase.content?.deletedBy"
                        class="rounded-circle z-depth-0 mr-1"
                        [attr.src]="this.modCase.content?.deletedBy?.imageUrl"
                        alt="avatar"
                        height="40"
                        onerror="this.src='/assets/img/default_profile.png';" />
                    <span>
                        {{ 'ModCaseView.CaseMarkedToDelete' | translate:markedDeleteParams }}
                        <app-date-display [date]="this.modCase.content?.modCase?.markedToDeleteAt"></app-date-display>
                    </span>
                </span>
                <div class="d-flex flex-row mt-1" *ngIf="isModOrHigher">
                    <div class="flex-grow-1"></div>
                    <button mat-raised-button class="align-self-end" style="background-color: green;" (click)="restoreCase()" *ngIf="!this.restoringCase">
                        {{ 'ModCaseView.Restore' | translate }}
                    </button>
                    <button mat-raised-button class="align-self-end ml-2" color="accent" (click)="deleteCaseFromBin()" *ngIf="!this.restoringCase && this.currentUser.content?.isAdmin">
                        {{ 'ModCaseView.Delete' | translate }}
                    </button>
                    <mat-spinner id="custom-green-spinner" class="align-self-end" *ngIf="this.restoringCase"></mat-spinner>
                </div>
            </mat-card>

            <app-usernote-card class="mt-3"
                *ngIf="this.modCase.content?.userNote"
                [userNote]="this.modCase.content!.userNote!"
                (deleteEvent)="userNoteDeleted()">
            </app-usernote-card>

            <!-- Labels -->
            <mat-chip-list aria-label="case labels" class="caselabels row mt-3 ml-2" title="The case labels" *ngIf="this.modCase.content?.modCase?.labels?.length">
                <mat-chip class="mat-h1" selected *ngFor="let label of this.modCase.content?.modCase?.labels">{{ label }}</mat-chip>
            </mat-chip-list>
            <!-- cards -->
            <div class="row mb-3 mt-3">
                <!-- user information -->
                <div class="col-12 col-sm-6 col-md-4 grid-margin stretch-card mt-2" (click)="this.redirectToUserscan(this.modCase?.content?.modCase?.userId)">
                    <div class="infobox bg-g-green">
                        <div class="infobox-body d-flex flex-row flex-wrap">
                            <div class="flex-grow-1 d-flex flex-column">
                                <span class="mat-h2 mb-0 font-weight-bold">{{ 'ModCaseView.Suspect' | translate }}</span>
                                <ng-container *ngIf="this.modCase.loading">
                                    <div class="waiting-for-text mb-2" style="width: 10rem"></div>
                                    <div class="waiting-for-text mb-2" style="width: 8rem"></div>
                                </ng-container>
                                <ng-container *ngIf="!this.modCase.loading">
                                    <span class="mat-h3 mb-0" style="word-break: break-all;">
                                        {{ this.modCase.content?.suspect?.username || this.modCase.content?.modCase?.username }}#{{ this.modCase.content?.suspect?.discriminator || this.modCase.content?.modCase?.discriminator }}
                                    </span>
                                    <span class="mat-h3 mb-0" style="word-break: break-all;" *ngIf="this.modCase.content?.modCase?.nickname"
                                            title="Users cached nickname during case creation">
                                        {{this.modCase.content?.modCase?.nickname }}
                                    </span>
                                    <span class="mat-h3 mb-0 text-white-50">{{ 'ModCaseView.ID' | translate }}: {{this.modCase.content?.modCase?.userId }}</span>
                                </ng-container>
                            </div>
                            <div class="infobox-icon">
                                <img
                                    src="{{ this.modCase.content?.suspect?.imageUrl }}"
                                    class="rounded-circle z-depth-0 mr-1"
                                    alt="suspect avatar"
                                    height="80"
                                    onerror="this.src='/assets/img/default_profile.png';"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- guilds information -->
                <div class="col-12 col-sm-6 col-md-4 grid-margin stretch-card mt-2 crs-pnt" routerLink="/guilds/{{ this.guildId }}">
                    <div class="infobox bg-g-orange">
                        <div class="infobox-body d-flex flex-row flex-wrap">
                            <div class="flex-grow-1 d-flex flex-column">
                                <span class="mat-h2 mb-0 font-weight-bold">{{ 'ModCaseView.Guild' | translate }}</span>
                                <ng-container *ngIf="this.modCase.loading">
                                    <div class="waiting-for-text mb-2" style="width: 10rem"></div>
                                    <div class="waiting-for-text mb-2" style="width: 8rem"></div>
                                </ng-container>
                                <ng-container *ngIf="!this.modCase.loading">
                                    <span class="mat-h3 mb-0" style="word-break: break-all;">{{ this.currentGuild.content?.name }}</span>
                                    <span class="mat-h3 mb-0 text-white-50">{{ 'ModCaseView.ID' | translate }}: {{this.modCase.content?.modCase?.guildId }}</span>
                                </ng-container>
                            </div>
                            <div class="infobox-icon">
                                <app-guild-icon [guild]="this.currentGuild?.content" [width]="'80px'" [height]="'80px'"></app-guild-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- moderator information -->
                <div class="col-12 col-sm-6 col-md-4 grid-margin stretch-card mt-2" *ngIf="this.modCase.loading || this.modCase.content?.modCase?.modId">
                    <div class="infobox bg-g-red">
                        <div class="infobox-body d-flex flex-row flex-wrap">
                            <div class="flex-grow-1 d-flex flex-column">
                                <span class="mat-h2 mb-0 font-weight-bold">{{ 'ModCaseView.Moderator' | translate }}</span>
                                <ng-container *ngIf="this.modCase.loading">
                                    <div class="waiting-for-text mb-2" style="width: 10rem"></div>
                                    <div class="waiting-for-text mb-2" style="width: 8rem"></div>
                                </ng-container>
                                <ng-container *ngIf="!this.modCase.loading">
                                    <span class="mat-h3 mb-0" style="word-break: break-all;">{{ this.modCase.content?.moderator?.username }}#{{ this.modCase.content?.moderator?.discriminator }}</span>
                                    <span style="font-size: medium;" class="mat-h3 mb-0 text-white-50">ID: {{this.modCase.content?.modCase?.modId }}</span>
                                    <span style="word-break: break-all; font-size: medium;" class="mat-h3 mb-0 text-white-50"
                                        *ngIf="this.modCase.content?.modCase?.creationType !== 0">
                                        {{ creationType }}
                                    </span>
                                </ng-container>
                            </div>
                            <div class="infobox-icon">
                                <img
                                    src="{{ this.modCase.content?.moderator?.imageUrl }}"
                                    class="rounded-circle z-depth-0 mr-1"
                                    alt="moderator avatar"
                                    height="80"
                                    onerror="this.src='/assets/img/default_profile.png';"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- punishment information -->
                <div class="col-12 col-sm-6 col-md-4 grid-margin stretch-card mt-2">
                    <div class="infobox bg-g-blue">
                        <div class="infobox-body d-flex flex-row flex-wrap">
                            <div class="flex-grow-1 d-flex flex-column">
                                <ng-container *ngIf="this.modCase.loading">
                                    <span class="mat-h2 mb-0 font-weight-bold">{{ 'ModCaseView.Punishment' | translate }}</span>
                                    <div class="waiting-for-text mb-2" style="width: 10rem"></div>
                                    <div class="waiting-for-text mb-2" style="width: 8rem"></div>
                                </ng-container>
                                <ng-container *ngIf="!this.modCase.loading">
                                    <div class="d-flex flex-row">
                                        <span class="mat-h2 mb-0 font-weight-bold">{{ 'ModCaseView.Punishment' | translate }}</span>
                                        <h5 *ngIf="this.modCase.content?.modCase?.punishmentType != 0 && this.modCase.content?.modCase?.punishmentType != 2 && !this.modCase.loading">
                                            <span class="badge mat-h4 mb-0 ml-2" style="padding: .1rem .4rem"
                                                [ngClass]="(this.modCase.content?.modCase?.punishmentType === 0 || this.modCase.content?.modCase?.punishmentActive === true) ? 'badge-danger' : 'badge-dark'"
                                                [attr.title]="(this.modCase.content?.modCase?.punishmentType === 0 || this.modCase.content?.modCase?.punishmentActive === true) ? '' :  'ModCaseView.Punishment' | translate">
                                                {{ punishment }}
                                            </span>
                                        </h5>
                                    </div>
                                    <h3 *ngIf="this.modCase.content?.modCase?.punishmentType == 0 || this.modCase.content?.modCase?.punishmentType == 2">
                                        <span class="badge mat-h4 mb-0 ml-2" style="padding: .1rem .4rem"
                                            [ngClass]="(this.modCase.content?.modCase?.punishmentType === 0 || this.modCase.content?.modCase?.punishmentActive === true) ? 'badge-danger' : 'badge-dark'"
                                            [attr.title]="(this.modCase.content?.modCase?.punishmentType === 0 || this.modCase.content?.modCase?.punishmentActive === true) ? '' : 'ModCaseView.Punishment' | translate">
                                            {{ punishment }}
                                        </span>
                                    </h3>
                                    <ng-container *ngIf="this.modCase.content?.modCase?.punishmentType != 0 && this.modCase.content?.modCase?.punishmentType != 2">
                                        <span class="mat-h3 mb-0" *ngIf="this.modCase.content?.modCase?.punishedUntil || ! this.modCase.content?.modCase?.punishmentActive ?? true else punishedForever">
                                            <app-date-display [showTime]="true" *ngIf="this.modCase.content?.modCase?.punishmentActive"
                                                [date]="this.modCase.content!.modCase.punishedUntil"
                                                [prefixKey]="'ModCaseView.PunishedUntil'">
                                            </app-date-display>
                                            <br *ngIf="this.modCase.content?.modCase?.punishmentActive" />
                                            <ng-container *ngIf="punishmentDescriptionTranslationKey">
                                                <span>
                                                    {{ 'ModCaseView.' + punishmentDescriptionTranslationKey | translate }}
                                                </span>
                                            </ng-container>
                                        </span>
                                        <ng-template #punishedForever>{{ 'ModCaseView.PunishedForever' | translate }}</ng-template>
                                        <div class="w-100 my-1" *ngIf="this.modCase.content?.modCase?.punishmentActive === true && this.modCase.content?.punishmentProgress">
                                            <mat-progress-bar
                                                title="Punishment progress {{this.modCase.content?.punishmentProgress ?? 0 | number: '1.0-1' }}%"
                                                [color]="'accent'"
                                                [mode]="'determinate'"
                                                [value]="this.modCase.content?.punishmentProgress"
                                                [bufferValue]="100">
                                            </mat-progress-bar>
                                        </div>
                                        <ng-container *ngIf="showActivationSlider && isModOrHigher">
                                            <mat-slide-toggle 
                                                [matTooltip]="activationSliderModeDeactivation ? 'Deactivate Punishment' : 'Activate Punishment'"
                                                (change)="handleActivation()"
                                                [disabled]="this.modCase.content?.modCase?.markedToDeleteAt != null"
                                                [(ngModel)]="activationSliderValue">
                                                    {{ activationSliderModeDeactivation ? 'Deactivate Punishment' : 'Activate Punishment'}}
                                            </mat-slide-toggle>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- created at information -->
                <div class="col-12 col-sm-6 col-md-4 grid-margin stretch-card mt-2">
                    <div class="infobox bg-g-pink">
                        <div class="infobox-body d-flex flex-row flex-wrap">
                            <div class="flex-grow-1 d-flex flex-column">
                                <span class="mat-h2 mb-0 font-weight-bold">{{ 'ModCaseView.CreatedAt' | translate }}</span>
                                <ng-container *ngIf="this.modCase.loading">
                                    <div class="waiting-for-text mb-2" style="width: 10rem"></div>
                                    <div class="waiting-for-text mb-2" style="width: 8rem"></div>
                                </ng-container>
                                <ng-container *ngIf="!this.modCase.loading">
                                    <app-date-display [showTime]="true" [date]="this.modCase.content!.modCase.createdAt"></app-date-display>
                                    <span class="mat-h3 mb-0 font-weight-bold" *ngIf="this.modCase.content?.modCase?.lastEditedAt != this.modCase.content?.modCase?.createdAt">
                                        {{ 'ModCaseView.EditedAt' | translate }}
                                    </span>
                                    <span class="mat-h3 mb-0" *ngIf="this.modCase.content?.modCase?.lastEditedAt != this.modCase.content?.modCase?.createdAt">
                                        <app-date-display [showTime]="true" [date]="this.modCase.content!.modCase.lastEditedAt"></app-date-display>
                                    </span>
                                </ng-container>
                            </div>
                            <div class="infobox-icon">
                                <i class="far fa-clock fa-5x"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Last moderator information -->
                <div class="col-12 col-sm-6 col-md-4 grid-margin stretch-card mt-2"
                 *ngIf="this.modCase.content?.modCase?.lastEditedByModId && this.modCase.content?.modCase?.lastEditedAt != this.modCase.content?.modCase?.createdAt">
                    <div class="infobox bg-g-red">
                        <div class="infobox-body d-flex flex-row flex-wrap">
                            <div class="flex-grow-1 d-flex flex-column">
                                <span class="mat-h2 mb-0 font-weight-bold">
                                    {{ 'ModCaseView.LastEditModerator' | translate }}
                                </span>
                                <span class="mat-h3 mb-0" style="word-break: break-all;">
                                    {{ this.modCase.content?.lastModerator?.username }}#{{ this.modCase.content?.lastModerator?.discriminator }}
                                </span>
                                <span class="mat-h3 mb-0 text-white-50">
                                    {{ 'ModCaseView.ID' | translate }}: {{this.modCase.content?.modCase?.lastEditedByModId }}
                                </span>
                            </div>
                            <div class="infobox-icon">
                                <img
                                    src="{{ this.modCase.content?.lastModerator?.imageUrl }}"
                                    class="rounded-circle z-depth-0 mr-1"
                                    alt="lastModerator avatar"
                                    height="80"
                                    onerror="this.src='/assets/img/default_profile.png';"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Description -->
            <div class="mb-3">
                <div class="mat-h2 font-weight-bold">{{ 'ModCaseView.Description' | translate }}</div>
                <mat-divider class="mb-2"></mat-divider>
                <ng-container *ngIf="this.modCase.loading">
                    <div class="waiting-for-text mb-2" style="width: 10rem"></div>
                    <div class="waiting-for-text mb-2" style="width: 8rem"></div>
                </ng-container>
                <ng-container *ngIf="!this.modCase.loading">
                    <span style="white-space: pre-wrap; word-wrap: break-word" class="mat-h3 text-monospace" id="case-view-description"
                    [innerHTML]="this.renderedDescription">
                    </span>
                </ng-container>
            </div>

            <!-- Files -->
            <div class="mb-3" *ngIf="this.isModOrHigher || (this.files.content | async)?.names?.length != 0">
                <div class="d-flex flex-row align-items-baseline">
                    <div class="mat-h2 font-weight-bold">{{ 'ModCaseView.UploadedFiles' | translate }} ({{ (this.files.content | async)?.names?.length || 0 }})</div>
                    <div class="flex-grow-1"></div>
                    <div *ngIf="this.isModOrHigher">
                        <button mat-raised-button color="accent" (click)="uploadInit()" [disabled]="this.modCase.content?.modCase?.markedToDeleteAt != undefined">
                            <mat-icon>file_upload</mat-icon>
                            {{ 'ModCaseView.Upload' | translate }}
                        </button>
                        <input type="file" #fileInput id="fileUpload" name="fileUpload" multiple="multiple" accept="image/*" style="display:none;" />
                    </div>
                </div>
                <mat-divider class="mb-2"></mat-divider>
                <ng-container *ngIf="this.modCase.loading">
                    <div class="waiting-for-text mb-2" style="width: 10rem"></div>
                    <div class="waiting-for-text mb-2" style="width: 8rem"></div>
                </ng-container>
                <ng-container *ngIf="!this.modCase.loading">
                    <mat-list>
                        <mat-list-item *ngFor="let file of (this.files.content | async)?.names">
                            <mat-icon mat-list-icon>description</mat-icon>
                            <div mat-line>{{file}}</div>
                            <div class="d-flex flex-row">
                                <a mat-raised-button href="/api/v1/guilds/{{ this.guildId }}/cases/{{ this.caseId }}/files/{{ file }}" color="accent" target="_blank">
                                    {{ 'ModCaseView.View' | translate }}
                                </a>
                                <button mat-raised-button color="primary" *ngIf="this.isModOrHigher" class="ml-2"
                                 [disabled]="this.modCase.content?.modCase?.markedToDeleteAt != undefined" (click)="deleteFile(file)">
                                    {{ 'ModCaseView.Delete' | translate }}
                                </button>
                            </div>
                        </mat-list-item>
                    </mat-list>
                </ng-container>
            </div>

            <!-- Comments -->
            <div>
                <div class="mat-h2 font-weight-bold">{{ 'ModCaseView.Comments' | translate }} ({{ this.modCase.content?.comments?.length || 0 }})</div>
                <mat-divider class="mb-2"></mat-divider>
                <div class="d-flex flex-column flex-wrap justify-content-between">
                    <ng-container *ngIf="this.modCase.loading">
                        <div class="waiting-for-text mb-2" style="width: 10rem"></div>
                        <div class="waiting-for-text mb-2" style="width: 8rem"></div>
                    </ng-container>
                    <ng-container *ngIf="!this.modCase.loading">
                        <div class="card-container mb-3" *ngFor="let comment of this.modCase.content?.comments">
                            <div class="card-container-body d-flex flex-column">
                                <div class="d-flex flex-row flex-grow-1 w-100 align-self-start align-items-center">
                                    <ng-container *ngIf="comment?.comment?.userId">
                                        <img
                                            [attr.src]="comment?.commentor?.imageUrl"
                                            class="card-img rounded-circle z-depth-0 mr-1"
                                            alt="avatar icon"
                                            height="32"
                                            style="width: unset"
                                            onerror="this.src='/assets/img/default_profile.png';"
                                        />
                                    </ng-container>
                                    <ng-container *ngIf="!comment?.comment?.userId">
                                        <app-guild-icon class="mr-1" [guild]="currentGuild?.content"
                                            [width]="'32px'" [height]="'32px'" [darkBorder]="true">
                                        </app-guild-icon>
                                    </ng-container>


                                    <!-- Title -->
                                    <span>
                                        <div class="mat-h3" style="display: inline;" *ngIf="comment?.comment?.userId">
                                            {{ comment?.commentor?.username || comment?.commentor?.id }}#{{ comment?.commentor?.discriminator || comment?.commentor?.id }}
                                        </div>
                                        <div class="mat-h3" style="display: inline;" *ngIf="! comment?.comment?.userId">
                                            {{ 'ModCaseView.Moderators' | translate }}
                                        </div>
                                        <span class="mat-h3 text-black-50">
                                            <app-date-display [date]="comment.comment.createdAt" [showTime]="true"></app-date-display>
                                        </span>
                                    </span>

                                    <div class="flex-grow-1"></div>

                                    <!-- Icons -->
                                    <div class="d-flex flex-row flex-wrap align-self-end flex-grow-0 flex-shrink-0" *ngIf="this.currentUser.content?.discordUser?.id === comment.comment?.userId || this.currentUser.content?.isAdmin">
                                        <button mat-mini-fab color="accent" aria-label="edit comment" class="flex-shrink-0 mr-2" [disabled]="this.modCase.content?.modCase?.markedToDeleteAt != undefined"
                                         (click)="updateComment(comment.comment)" *ngIf="this.modCase.content?.modCase?.allowComments">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button mat-mini-fab color="primary" aria-label="delete comment" class="flex-shrink-0" [disabled]="this.modCase.content?.modCase?.markedToDeleteAt != undefined"
                                         (click)="deleteComment(comment.comment.id)">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </div>
                                </div>
                                <span style="white-space: pre-wrap; word-wrap: anywhere;" class="mat-h3 mb-0 text-monospace casecomment">{{ comment.comment.message }}</span>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div *ngIf="!this.modCase.content?.modCase?.allowComments && !this.modCase.loading" class="mb-2">
                    <mat-divider class="mb-2" *ngIf="this.modCase?.content?.modCase?.comments?.length"></mat-divider>
                    <div class="d-flex flex-row flex-wrap align-items-center">
                        <img
                            *ngIf="this.modCase.content?.lockedBy"
                            [attr.src]="this.modCase.content?.lockedBy?.imageUrl"
                            class="card-img rounded-circle z-depth-0 mr-2"
                            alt="avatar icon"
                            height="32"
                            style="width: unset"
                            onerror="this.src='/assets/img/default_profile.png';"
                        />
                        <div class="mat-h3 mb-0 warn-color" style="display: inline" *ngIf="this.modCase.content?.modCase?.lockedAt">
                            {{ 'ModCaseView.CommentsLocked' | translate:lockedCommentsParams }}
                            <app-date-display [date]="this.modCase.content?.modCase?.lockedAt"></app-date-display>
                        </div>
                        <div class="flex-grow-1"></div>
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <mat-form-field class="flex-grow-1 mr-2">
                        <mat-label>{{ 'ModCaseView.NewComment' | translate }}</mat-label>
                        <textarea matInput [(ngModel)]="newComment" [disabled]="!this.modCase.content?.modCase?.allowComments"></textarea>
                    </mat-form-field>
                    <div class="d-flex flex-column">
                        <button mat-raised-button color="accent"
                            class="flex-shrink-1 mb-2"
                            [disabled]="this.modCase.content?.modCase?.markedToDeleteAt != undefined"
                            (click)="lockCaseComments()"
                            *ngIf="this.isModOrHigher && this.modCase?.content?.modCase?.allowComments">
                            {{ 'ModCaseView.LockComments' | translate }}
                        </button>
                        <button mat-raised-button color="accent"
                            class="flex-shrink-1 mb-2"
                            (click)="unlockCaseComments()"
                            *ngIf="this.isModOrHigher && ! this.modCase?.content?.modCase?.allowComments"
                            [disabled]="this.modCase.content?.modCase?.markedToDeleteAt != undefined">
                            {{ 'ModCaseView.UnlockComments' | translate }}
                        </button>
                        <button mat-raised-button color="accent"
                            class="flex-shrink-1"
                            (click)="postComment()"
                            [disabled]="this.modCase.content?.modCase?.markedToDeleteAt != undefined || this.newComment?.trim() == '' || !this.modCase.content?.modCase?.allowComments">
                            {{ 'ModCaseView.PostComment' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
